<!-- STYLET 15.2.26 klo 18 --->

.white-mode {  
--CurrentMode:"white-mode";                 /* Current background mode */
--NextMode:"dark-mode";                     /* Next background mode */    
--BackgroundColor: rgba(0,0.03,0,0.03);     /* Background beginning */
--BackgroundColorEnd: rgba(0,0.03,0,0.03);  /* Backgroun end */
--myGreen:#1c8173;                          /* Normal green */
--myGreenTab:#82a19d;                       /* Border green */
--myYellow:#1c8173;                         /* Normal yellow */
--FontColor:#212121;                        /* Normaalin fontin väri */
--LinkFontColor:#1c8173;                    /* Normaalin fontin väri */
--IsoFonttiColor:#0f3201;                   /* Ison-fontin oletusväri */
--BottomTextColor:#1c8173;                  /* Painikkeen tekstin väri */
--BottomBGColor:white;                      /* Painikkeen tausta */
--BottomBorderColor:rgba(0, 0, 0, 0.2);     /* Painikkeiden rajan väri */
--UnderlineColor:rgba(0, 0, 0, 0.2);        /* Otsikon alleviivauksen väri */
--ButtonUnderlineColor:rgba(0, 0, 0, 0.1);  /* Painikkeen alleviivauksen väri */
--myGreyBgCol: rgba(0, 0, 0, 0.2);          /* varjo-xx väri   */
--LiukuColor:rgba(0, 0, 0, 0.05);           /* LIUKU-loppuväri */
--ArticleGreyBG:rgba(0, 0, 0, 0.015);       /* Artikkelin harmaa tausta - harmaa-artikkelitausta */
--ValiotsikkoBG:rgba(0, 0, 0, 0.050);       /* Valiotsikon tausta */
--myWhiteBg: white;                         /* oma valkoinen väri */
--ArticleBGColor:white;                     /* KV Artikkelin lisäreunan taustaväri */
--ArticleShadowColor:rgba(0,0,0,0.15);      /* KV Artikkelin varjon väri - valkoinen - ei mitään */
--SlideCenterColor:rgba(0, 0, 0, 0.04);     /* Liun keskimmäinen väri */
--SlideEndColor:rgba(0,0,0,0.10);           /* Liun loppuväri */
--ProductBgColor:rgba(255, 255, 252, 1);    /* tuotenoston harmaa tausta */
--ShopBgColor:rgba(255, 255, 252, 1);       /* Verkkokauppatuotteiden tausta */
--EventEvenColor: #f2f2f2;                  /* tapahtumalistauksen väri */
--BoxShadowCol: rgba(0, 0, 0, 0.2);         /* Shadow color */
--BorderColorBox: rgba(0,0,0,0.08);         /* Border linen väri */
--ShadowColor: rgba(0, 0, 0, 0.2);          /* Shadow color */
--ShadowBorder: rgba(0, 0, 0, 0.08);        /* Shadow top border color */
--ShadowHeaderColor: rgba(0,0,0,0.2);       /* Header viivan väri */
--TabHeaderColor:rgba(0, 0, 0, 0.3);        /* Välilehtien topin väri */
--TabBorderColor:rgba(0, 0, 0, 0.2);        /* Välilehtien rajan väri */
--MobileHeaderBG:#1c8173;                   /* Otsikon taustaväri mobiilissa */
--MobileHeaderColor:white;                  /* Otsikon tekstiväri mobiilissa */ 
--TabBorderColor:rgba(0,0,0,0.2);           /* Välilehtien rajan väri */
--TabBGColor:white;                         /* Välilehtien taustan väri */

--MixedTabColor:#1c8173;                    /* Välilehtiotsikon fontin väri */
--MixedFontColor:#212121;                   /* Normaalin fontin väri */
--myMixedBg: white;                         /* oma valkoinen väri */    
--MixedTabBGColor:white;                    /* Välilehtien taustan väri */
--markBG: Yellow;
--markBGactive: orange;
    
} 


.dark-mode {  /* #1c8173 #196c62 #14574e Santerilta */
--CurrentMode:"dark-mode";                  /* Current background mode */
--NextMode:"white-mode";                    /* Next background mode */    
--BackgroundColor:#14574e;                  /*   205149 rgba(28, 129, 115 ,1) */
--BackgroundColorEnd:#1c8173;               /*   205149 rgba(28, 129, 115 ,1) */
--myWhiteBg:#11453a;                        /* elementtien taustaväri - normaalisti valkoinen */
--myGreen:white;                            /* #c9c6ac vihreä */
--myYellow: #25AC99;                        /* kullan keltainen */
--ArticleGreyBG:#14574e;                    /* Artikkelin harmaa tausta - harmaa-artikkelitausta */
--ValiotsikkoBG:#14574e;                    /* Valiotsikon tausta */
--ArticleBGColor:#14574e;                   /* KV Artikkelin lisäreunan taustaväri */
--SlideEndColor:#103c33;                    /* Liun loppuväri */
--SlideCenterColor:#11453a;                 /* Liun keskimmäinen väri */
--UnderlineColor:grey;
--FontColor:#f2f2f2;                        /* perus fonttiväri, joka valkoisessa on musta */
--LinkFontColor:#c9c6ac;                    /* Linkin fonttiväri, joka valkoisessa on vihreä */
--BottomTextColor:white;                    /* Painikkeen tekstin väri */
--BottomBGColor: #14574e;                   /* #606866 Painikkeen tausta */
--BottomBorderColor:#888888;                /* Painikkeen raamin väri */
--ButtonUnderlineColor:#888888;             /* Painikkeen alleviivauksen väri */
--TabBorderColor:#888888;                   /* Välilehden raamin väri */
--BorderColorBox: #888888;                  /* Border linen väri */
--ProductBgColor:#14574e; 
--ShopBgColor:#14574e;                      /* Verkkokauppatuotteiden tausta */
--myFontWeight:600;                         /* valikkofontin paksuus */ 
--myBackColor: #333333;                     /* taustaväri */
--EventEvenColor:#14574e;                   /* Tapahtumalista joka toisen rivin taustaväri */
--EventOddColor:#11453a;
--ShadowSpread:-10px;                       /* spread */
--ShadowColor: rgba(0, 0, 0, 0.2);          /* Shadow color */
--ShadowBorder: rgba(0, 0, 0, 0.08);        /* Shadow top border color */
--ShadowHeaderColor: rgba(0,0,0,0.2);       /* Header viivan väri */
--IsoFonttiColor:#f8fafc;                   /* iso-fontti article-menu-bar:ssa */
--BorderColorBox: grey;                     /* laatikoiden rajaväri */  
--MobileHeaderBG:#666e66;                   /* Otsikon taustaväri mobiilissa */
--MobileHeaderColor:white;                  /* Otsikon tekstiväri mobiilissa */
--TabBorderColor:grey;                      /*  #c9c6ac Välilehtien rajan väri */
--TabBGColor:#196c62;                       /* Välilehtien taustan väri */
    
--MixedTabColor:#1c8173;                    /* Välilehtiotsikon fontin väri */
--MixedFontColor:#212121;                   /* Normaalin fontin väri */
--myMixedBg: white;                         /* oma valkoinen väri */    
--MixedTabBGColor:white;                    /* Välilehtien taustan väri */
--markBG: Yellow;
--markBGactive: orange;
    
}

:root {                     /* Muut kuin väreihin vaikuttavat yleiset muuttujat */
--CurrentMode:"white-mode"                  /* Current background mode */
--NextMode:"dark-mode"                      /* Next background mode */    
--Article-bar: -45px;                       /* ensimmäinen elementti kuvan päälle */
--DarkTopPysty: 260px;
--DarkTopVaaka: 190px;
--DarkTopLabVaaka: 190px;   
--DarkTopMob480: 260px;                      /* kännykkä pystyssä - missä pallukka */
--SearchTopMob480: 5px;                      /* search panel */
--UnderlineWidht: 85%;                       /* Varjo header:n alleviivauksen koko */
--myTopSide:560px;                           /* WiseGolf pikapainikkeiden paikka */
--DeletedPixels: -52px;                      /* poista-maaritelty pixelien määrä */
--myBrowserPro: 5%;                          /* lavenna-selain marginaalit */
--ArticleWidth:4%;                           /* KV Artikkelin lisämarginaalit */
--TabArticleWidth:1.5%;                      /* KV Artikkelin lisämarginaalit välilehdellä */
--ArticleTopDrop:-33px;                      /* KV Artikkelin poistarivi */
--Article-aligned-height: 450px;             /* kuva vasemmalle korkeus välilehdillä */
--ArticleLastSkip:60px;                      /* Tyhjää viimeisen kuva vasemmalla artikkelinoston jälkeen */
--PhoneLandscape:49%;                        /* KV Artikkelin leveys puhelin vaaka-asennossa */
--PhoneLandscapeHeight:580px;                /* KV Artikkelin korkeus puhelin vaaka-asennossa */
--ShadowHor:8px;                             /* horisontal */
--ShadowVer:16px;                            /* vertical */
--ShadowBlur:40px;                           /* blur */
--ShadowSpread:-10px;                        /* spread */
--ShadowImageSpread: 5px;
--Tuotenosto: "YES";                         /* Tuotteet kaksi per rivi kun kännykkä vaaka-asennossa */
--YlajaAlaosa: 30px;                         /* Elementin ylä- ja alaosan lisät eli tyhjät pixelit */
--menu-bar-left:15px;                        /* Valikko vasen marginaali */
--menu-bar-right:15px;                       /* Valikko oikea marginaali */
--menu-bar-top: 30px;                        /* Valikko ylä marginaali */
--menu-bar-bottom: 10px;                     /* Valikon ala ????? */
--menu-bar-width: 20%;                       /* Valikon leveys > 880px */ 
--four-article-height: 550px;                /* Artikkelin korkeus välilehdellä */
--three-article-height: 450px;               /* Artikkelin korkeus välilehdellä */
--four-widget-height:390px;
--three-widget-height:370px;
--TabWidth:310px;                            /* Välilehtivalikon leveys mobiilissa 280 */
--TabWidthMML:315px;                         /* Välilehtivalikon leveys mobiilissa mobile-menu-look */
--BarWidth:315px;                            /* Valikon leveys mobiilissa 280 */
--TabLeft:5%;                                /* Välilehtivalikon siirtymä mobiilissa */
--TabMaxWidth: 210px;                        /* big-tab välilehtiotsikon maximi leveys */
--TabMaxHeight: 54px;                        /* big-tab välilehtiotsikon maximi korkeus */
--TabMinWidth: 148px;                        /* big-tab välilehtiotsikon minimi leveys */
--TabRadiusLabtop: 0 6px 0 0;                /* Labtop välilehden pyöristys */
--WhiteRightPadding:45px;                    /* valkoinen-tausta left/right padding */
--WhiteLeftPadding:45px;                     /* valkoinen-tausta left/right padding */
--LueLisaaValmentaja: " valmennustarjonnasta"; /* Lue lisää painikkeen teksti */
--ProTextExtra: " Katso alla koko valmennustarjontani yksityistunneista kursseihin. Jos et löydä näistä sopivaa, ole minuun yhteydessä yhteydenottolomakkeella, jonka löydät tämän sivun lopusta.";
--ProTabExtra: "Yksityistunti Valmennus Yhteydenotto";
--animaatio:laajennus-animaatio;               /* tausta-, laajennus-, */
--MobileTextAlign:center;
--articleClass:default-class;
--imageTopMargin:10px;
--imageBottomMargin: 50px;
--data-underline-size: 70%;
    
} 

<!--- BACKGROUND VÄRIT ----->


    .background {
        background-color: var(--BackgroundColor)) !important;
        background: var(--BackgroundColor)) !important;
        color: var(--BackgroundColor)) !important;
    }

    #wrap .white.articlepage #article {
        background-color: transparent !important;
    }

    #wrap .white {
        background: rgba(0, 0.01, 0, 0.01) ;
    }

    .body-background {
        background-color: var(--BackgroundColor);
        background-image: linear-gradient(to bottom, var(--BackgroundColor), var(--BackgroundColor), var(--BackgroundColorEnd)) !important; 
 } 
